<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.unite_investing.aj.unite_investing">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/unitelogoonly"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.unite_investing.EntryScreen"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/FullscreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.unite_investing.Depreciated.Portfolio"
            android:label="@string/title_activity_portfolio"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="com.unite_investing.Depreciated.StockDisplay" />
        <activity
            android:name="com.unite_investing.Depreciated.Market"
            android:label="@string/title_activity_stock_shop"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="com.unite_investing.Depreciated.WalletScreen" />
        <activity android:name="com.unite_investing.Depreciated.EtherFAQ" />
        <activity android:name="com.unite_investing.Depreciated.FirstTimeDemo" />
        <activity android:name="com.unite_investing.Depreciated.BuyPage" />
        <activity android:name="com.unite_investing.LoginRegister.LoginRegistraion" />
        <activity android:name="com.unite_investing.LoginRegister.RegisterPage" />
        <activity
            android:name="com.unite_investing.nav_sidebar.Navigation"
            android:label="@string/title_activity_navigation"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>